rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
      match /{document=**} {
        allow read, write: if true;
      }
    }
    match /conversations/{id} {
      allow read, write: if true;
      match /{document=**} {
        allow read, write: if true;
      }
    }
    match /follows/{id} {
      allow read, write: if true;
    }
    match /notifications/{id} {
      allow read, write: if true;
    }
    match /presence/{id} {
      allow read, write: if true;
    }
    match /announcements/{id} {
      allow read, write: if true;
    }
    match /reports/{id} {
      allow read, write: if true;
    }
    match /promoCodes/{id} {
      allow read, write: if false;
    }
    match /matchQueue/{id} {
      allow read, write: if true;
    }
  }
}
